# See Weblate documentation for detailed description:
# https://docs.weblate.org/en/latest/admin/deployments.html#docker

# Weblate setup
WEBLATE_DEBUG=0
WEBLATE_LOGLEVEL=DEBUG
WEBLATE_SITE_TITLE=OCA Weblate
WEBLATE_ADMIN_NAME=Weblate Admin
WEBLATE_ADMIN_EMAIL=weblate@odoo-community.org
WEBLATE_ADMIN_PASSWORD=
WEBLATE_SERVER_EMAIL=noreply@odoo-community.org
WEBLATE_DEFAULT_FROM_EMAIL=weblate@odoo-community.org
WEBLATE_ALLOWED_HOSTS=*
WEBLATE_REGISTRATION_OPEN=1
WEBLATE_SIMPLIFY_LANGUAGES=0
WEBLATE_AUTO_UPDATE=1

# Extra
#WEBLATE_TIME_ZONE=
#WEBLATE_MT_GOOGLE_KEY=
# see https://github.com/organizations/OCA/settings/applications
WEBLATE_SOCIAL_AUTH_GITHUB_KEY=
WEBLATE_SOCIAL_AUTH_GITHUB_SECRET=

#WEBLATE_SOCIAL_AUTH_BITBUCKET_KEY=
#WEBLATE_SOCIAL_AUTH_BITBUCKET_SECRET=
#WEBLATE_SOCIAL_AUTH_FACEBOOK_KEY=
#WEBLATE_SOCIAL_AUTH_FACEBOOK_SECRET=
#WEBLATE_SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
#WEBLATE_SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=

#WEBLATE_OFFLOAD_INDEXING=1
#WEBLATE_GOOGLE_ANALYTICS_ID=
WEBLATE_ENABLE_HTTPS=1
#WEBLATE_REQUIRE_LOGIN=1

# PostgreSQL setup
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DATABASE=weblate
POSTGRES_HOST=
POSTGRES_PORT=

# Mail server, the server has to listen on port 587 and understand TLS
WEBLATE_EMAIL_HOST=
# Do NOT use quotes here
WEBLATE_EMAIL_USER=weblate
# Do NOT use quotes here
WEBLATE_EMAIL_PASSWORD=

# oca-transbot GitHub token to for maintainer-tools get_repositories()
GITHUB_TOKEN=
